[Unit]
Description=TAK Server Plugin Service
Requires=takserver-api.service

[Service]
User=tak
Group=tak
ExecStart=/opt/tak/takserver.sh takserver-plugins.sh >& /opt/tak/logs/takserver-plugins.log 
ExecStop=kill -9 `pgrep -f "plugins"`
KillMode=mixed
KillSignal=9
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
