[Unit]
Description=TAK Server Plugin Service
Requires=takserver-api.service
DefaultDependencies=no

[Service]
User=tak
Group=tak
WorkingDirectory=/opt/tak
ExecStart=/opt/tak/takserver-plugins.sh
ExecStop=kill -9 `pgrep -f "plugins"`
KillMode=mixed
KillSignal=9
Restart=on-failure
Type=exec

[Install]
WantedBy=multi-user.target
