[Unit]
Description=TAK Server Retention Service
Requires=takserver-plugin.service

[Service]
User=tak
Group=tak
WorkingDirectory=/opt/tak
ExecStart=/opt/tak/takserver-retention.sh
ExecStop=kill -9 `pgrep -f "retention"`
KillMode=mixed
KillSignal=9
Restart=on-failure
Type=exec

[Install]
WantedBy=multi-user.target
