[Unit]
Description=TAK Server Messaging Service
After=mulit-user.target
Before=takserver-api.service

[Service]
User=tak
Group=tak
ExecStart=/opt/tak/takserver.sh takserver-messaging.sh >& /opt/tak/logs/takserver-messaging-console.log 
ExecStop=kill -9 `pgrep -f "spring.profiles.active=messaging"`
KillMode=mixed
KillSignal=9
Restart=on-failure
RestartPreventExitStatus=255
Type=simple

[Install]
WantedBy=multi-user.target
