[Unit]
Description=TAK Server Config Service
After=mulit-user.target
Before=takserver-messaging.service

[Service]
User=tak
Group=tak
WorkingDirectory=/opt/tak
ExecStart=/opt/tak/takserver-api.sh 
ExecStop=kill -9 `pgrep -f "spring.profiles.active=api"`
KillMode=mixed
KillSignal=9
Restart=on-failure
Type=exec

[Install]
WantedBy=multi-user.target
