[Unit]
Description=TAK Server Retention Service
Requires=takserver-plugin.service

[Service]
User=tak
Group=tak
ExecStart=/opt/tak/takserver.sh takserver-retention.sh >& /opt/tak/logs/takserver-retention.log 
ExecStop=kill -9 `pgrep -f "retention"`
KillMode=mixed
KillSignal=9
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
